@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

:root {

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background: #192042;
  color: #646fa7;
}

.pad-container {
  padding: 60px 20px;
}

.App {
  display: flex;
}

.aside {
  height: 100vh;
  display: block;
  position: fixed;
}

main {
 min-height: 100vh;
 margin-left: 25vw;
}

section {
  height: 100vh;
  padding: 0px 20px;
  margin: 100px 0;
}

@media (max-width: 574px) {
  .App {
    flex-direction: column;
  }

  .aside {
    display: none;
  }
}